/* 
#######
Global
#######
*/

:root {
  /* declares colour variables with `--` syntax */
  --dark: ;
  --light: #f5f5f5;
  --sub-headings-color: #34495e;
  --navlink-color: #c5c5c5;
  --header-text-color: #502f40;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  background-color: var(--light);
}

h2,
h3,
a {
  color: var(--sub-headings-color);
}

/* 
###############
Header section
############### 
*/

.header {
  background-color: var(--header-text-color);
  color: var(--navlink-color);
}

/* nav links styling */
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation {
  color: var(--navlink-color);
}

.navigation a {
  padding: 10px 15px;
  text-transform: capitalize;
  text-align: center;
  display: block;
  color: var(--navlink-color);
}

.navigation a:hover {
  color: #718daa;
}

nav li {
  display: inline-block;
}

/* h1 text styling */

.my-name {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-size: 2em;
  left: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: var(--navlink-color);
  color: var(--header-text-color);
  text-align: center;
}

h1 {
  color: var(--header-text-color);
}

/* 
####################
Header media queries
####################
*/

/* flexbox column for smaller screen sizes */

@media (min-width: 769px) {
  .header,
  .navigation {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
}

/* flexbox row direction for larger screen sizes + margin/padding adjustments */

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation {
    margin-left: auto;
    margin-right: 2em;
  }

  .footer li,
  .navigation li {
    margin: 0.75em;
  }

  .footer a,
  .navigation a {
    text-decoration: none;
    border-bottom: 0.2em solid #c5c5c5;
    padding: 0px 6px 0px;
  }

  .my-name {
    padding-left: 2em;
    padding-right: 0.25em;
  }
}

/* 
#####################
Main (Nested Flexbox)
#####################
*/

/* flexbox column direction for main elements which constitute About Me & Work */

main {
  display: flex;
  flex-direction: column;
}

/* flexbox column direction for Work container elements which constitute conatiner-1 (big-picture) & container-2 (smaller pictures)*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* flexbox column direction for container-1 (big picture or my photo)*/

.container-1 {
  margin-left: 3vw;
  margin-right: 6vw;
  display: flex;
  flex-direction: column;
}

/* flexbox column direction for container-2 (smaller pictures)*/

.container-2 {
  display: flex;
  flex-direction: column;
}

/* flexbox container-2 elements split into groups of 2 for maintaining format*/

.split {
  display: flex;
  margin-top: 1vw;
  margin-left: 3vw;
  margin-right: 6vw;
  justify-content: center;
}

/*in-line flex applied to family of side headers and content to achieve row direciton*/

.section-breaker {
  display: inline-flex;
  padding: 0;
}

.panel {
  height: auto;
  margin-bottom: 20px;
  background-color: var(--light);
}

p {
  margin-left: 10px;
  padding-top: 20px;
}

/*headings flex to align to far right of box*/

h3,
h2 {
  justify-content: flex-end;
  display: flex;
  font-size: 2rem;
  text-align: end;
}

/* 
###################
Main Media Queries
###################
*/

/*large screen size margins, width and padding properties */

@media (min-width: 768px) {
  .panel {
    min-width: 20vh;
    max-width: 20vh;
    padding: 19px;
    border-right: 3px solid purple;
  }

  .split > * + * {
    margin-left: 1em;
  }

  p {
    margin-left: 10px;
    padding-top: 20px;
  }
}

/*small screen size flex direction adjustment to column */

@media (max-width: 768px) {
  .split {
    flex-direction: column;
  }

  .split > * {
    justify-content: center;
    align-content: stretch;
  }

  .section-breaker {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  h2,
  h3 {
    text-align: center;
  }

  p {
    padding-top: 0px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }

  .footer {
    flex-wrap: wrap;
  }

  .container {
    margin-left: 1rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .my-photo {
    align-self: center;
  }
}

.container {
  padding-top: 40px;
  padding-bottom: 15px;
}

/* 
#################
Footer
#################
*/

.footer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.footer li {
  padding: 1em;
}

/*Background photo*/

/* 
#########################
Banner section - styling
#########################
*/

.banner {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 8rem;
  background-image: url("tile4.PNG");
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

.my-photo {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 20%;
  -moz-border-radius: 20%;
  -webkit-border-radius: 0%;
  position: center;
  margin-left: 1rem;
}

.my-photo > img {
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

.inner {
  background-color: var(--navlink-color);
  color: var(--header-text-color);
  padding: 0.05rem;
  padding-right: 0.65em;
  padding-left: 0.65em;
  /* margin: 0; */
  position: absolute;
  font-size: 1.6rem;
  align-self: end;
  margin-right: 4rem;
  margin-top: 4.5rem;
}

/* 
#########################
Opacity hover feauture
#########################
*/

img {
  background: #1abc9c;
}
img {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  max-width: 100%;
}
img:hover {
  opacity: 1;
}

/* 
############################
Styles text box within image
############################
*/

.box-caption {
  position: absolute;
  max-width: 200px;
  margin: 0;
  padding: 0.5rem;
  word-break: break-word;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #f2f2f2;
  margin-bottom: 1rem;
}

.container-1,
.container-2 {
  justify-content: end;
  align-content: center;
}
